# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual Envs
.venv/
venv/
env/
*.egg-info/

# IDEs / Editors
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

# Trading config
config.py
